/* CSS EXERCISES

        11) Give a maximum width to the body and center it in the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border
        15) Set table to have rounded corners
        16) Add margin between every paragraph
        17) Create a class which change font size and boldness
        18) Create a class to hide a content
        19) Add a green border to each td
        20) Add a dotted red border to each tr (note: tr does not accept a border property ;-) ) */
body {
  background-color: rgb(48, 63, 63);
  color: white;
  font-family: "Nunito", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}
td {
  border: green;
}

#border {
  border-radius: 50%;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#selected {
  font-size: x-large;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  color: #36ee08;
  text-transform: uppercase;
  font-weight: bold;
}

h2,
h3 {
  text-align: center;
  margin-top: 20px;
  color: #76f756;
  text-transform: uppercase;
  font-weight: bold;
}
tr {
  border: dotted;
}

link {
  color: blue;
}

p {
  margin: auto;
}

.hideContent {
  display: none;
}
